language: python
python:
#  - "2.6"   # -- responses module requires 2.7+
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
install:
  - "pip install -r requirements.txt"
  - "pip install nose"
  - "pip install responses"
  - "pip install coveralls"
  - "pip install codacy-coverage"
  - "pip install collective.checkdocs Pygments"
script:
  - nosetests --with-coverage --cover-package=sandboxapi
  - python setup.py checkdocs
after_success:
  - coveralls
  - coverage xml
  - python-codacy-coverage
